*~
.#*
.aider*
.last-package-update-day
.org-id-locations
\#*\#
auto-save-list/
backups/
bookmarks
custom.el
eca/
eln-cache/
elpa/
history
multisession/
newsticker/
org-roam.db
projects
recentf
session.*
tramp
transient/
tree-sitter/
url/
